---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
<ol>

{%- for post in postslist | reverse %}
  <li><a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></li>
  

{%- endfor %}

</ol>
