
p,
body 
  font-size: $base.size.p
  line-height: $base.line.md
  font-family: $base.font.system

p 
  margin-bottom: $base.line.p


h1 
  font-size: $base.size.lg
  line-height: $base.line.lg
  margin-bottom: $base.line.p

h2 
  font-size: $base.size.md
  line-height: $base.line.md
h3 
  font-size: $base.size.md
  line-height: $base.line.md

h1,
h2,
h3 
  font-family: 'Handlee', cursive 
  color: $colors.third
  letter-spacing: 3px
  text-align: center
  

body
  color: #333
