
{% for post in postslist | reverse %}


  <div class="card mbp media">
  
 
        {% if (post.data.featured_image)%}
    {% set img = post.data.featured_image.src%}
    {{ img | replace('/img/', '') }}
    {% set alt = post.data.featured_image.alt%}
    <figure>
    <img  src="https://images.prince.bertie/media/320/{{img}}" />
    </figure>
  
    {% endif%} 
    <div>   
      <header>

      <h3><a href="{{ post.url | url  }}">{{ post.data.title }}</a></h3> 
    </header> 
      
      {{ post.data.excerpt }}
    </div>
  </div>
<style>
.center {margin: auto; display: block;}
.media {
  display: flex;
  align-items: flex-start;
  padding: 1rem;

}
.media > figure {
  width: 320px;
  margin: 0 1rem 0 0;
}

.media > header {
 width: 100%;
 clear: both;
}
</style>

{% endfor %}

