---
permalink: /api/posts.json
---
[
  {% for post in collections.Stories  %}
    {% set data = post.data %}
    {
      "title": "{{ data.title }}",
      "description": "{{ data.excerpt | safe}}",
      "url": "{{ post.url }}"
    }{{ '' if loop.last else ',' }}
  {% endfor  %}
]