---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{% for tag in tags %}
<a href="/tags/{{tag | slug}}/">{{tag}}</a> 

{% endfor %}

{% if (page.featured_image) %}
    {% srcset page.featured_image.src, page.featured_image.alt %}
{% endif %}
{% player page.fileSlug %}
{{ content | safe }}
<script>
   {% include 'js/audio.js' %}
</script>
<style>
{% include 'styles/audio.css' %}
</style>