  <div id="navbar" class="navbar flex">
  <nav class="brand">
   {% include "icons/menu.html" %}
  <span class="title em"><a href="/">Storynory</a></span>
</nav>
  <div class="flex drop">


  <form class="search-form" action="/pages/search/" >

    <input class="input-field search" type="text" placeholder="Search for story" name="s">
       
<svg class="search-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>

     </form>
      <nav >
  <ul class="nav-links flex">
 <li class="em"><a href="#">Stories</a></li>
    <li class="em"><a href="#">About</a></li>
    <li class="em"><a href="#">Contact</a>
    </li>   
  </ul>
  </nav>
</div>
</div>